@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');

::-webkit-scrollbar{
    background: #000000;
    width: 0.6rem;
}
::-webkit-scrollbar-thumb{
    background: rgb(7, 1, 90);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
header {

    position: fixed;
    width: 100%;
    background: rgba(0, 0, 0, 0.93);
    padding: 1rem 0;
    z-index: 999;
    
    

    
}


.cabecario{
    position: relative;
    z-index: 999;
    margin: 0 25px;
}

.cabecario img {

    display: inline;
    margin: 0 5px;
    z-index: 999;
}

.cabecario img:hover {
    transform: rotate(720deg);
    transition: 1.5s;
}


h1 {
    display: inline;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: 15px;
    padding-left: 10px;
    color: white;
    
    
}


main{
    position: relative;
    padding: 40px 0;
    background: image("Sprinkle.svg");
    top: 112px;
}

.meio{
    padding: 0 80px 0 80px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


}

.perfil {
    display: flex;
    position: relative;
    border: #CCCCCC solid 2px;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 400px;
    text-align: center;
    transition: 0.5s all ;
}
.vida{
    padding: 20px 50px 80px 10px;
    position: relative;
    display: inline-block;
    text-align: left;
    width: 60%;




}
.perfil .imagem-perfil{
    border-radius: 50%;
    max-width: 40%;
    margin: 20px 0;

}


.perfil .nome-perfil{
    font-size: 25px;
    color: white;
    margin: 20px 0;

}

.perfil .titulo-perfil{
    font-size: 15px;
    color: #CCCCCC;
    margin: 20px 0;
}
.perfil .lista-perfil{
   position: relative;
    width: 350px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.perfil li {
    list-style: none;
    text-decoration: none;
    margin: 0 20px;

}


.perfil:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px 0 rgba(208, 208, 208, 0.586);
}
.perfil li a{
    text-decoration: none;
    color: white;


}
.lista-perfil svg {
    transition: 0.5s all ;
}

.lista-perfil svg:hover{

    transform: scale(1.2);
}

.vida h2{
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0;
    padding-top: 10px;
    padding-bottom: 5px;
    padding-left: 25px;
    color: white;
}

.vida p, .vida a{
    margin: 15px 0;
    line-height: 2;
    font-size: 15px;
    color: #CCCCCC;
    text-decoration: none;

}
.vida p{
    overflow: hidden;
}
.ler{
    position: absolute;
    right: 2.3rem;
    bottom: 5.27rem;
}


.texto{
   padding: 0 25px;
}


.sonho{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;

}

.sonho h2, .estudos h2, .projetos h2{
    font-size: 30px;
    color:white;
    padding: 25px 0;
    
}

.tabela-itens {
    padding: 30px 0;
    width: 100%;
    transition: 0.5s all;
    margin-top: 40px;

}

.tabela-itens ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin: 0 55px;
}
.itens{
    position: relative;
}
.itens:not(:last-child)::after{
    content: url("seta.svg");
    position: absolute;
    right: -10px;
    top: 20px;
}
.tabela-itens li{
    margin-top: 20px;
    padding: 25px 35px;
    color: whitesmoke;
    transition: 1s all ;
}

.estudos{
    margin: 70px 0 0 0;
    padding-bottom: 150px;
    text-align: center;
    display:block;

    
}

.java,.bd,.html{
    display: inline-grid;
    margin: 0 40px;
    transition: 0.5s;
    background: #cccccc3f;
}

.html:hover{
    transform: scale(1.01);
    
}

.java:hover{
    transform: scale(1.01);
    
}

.bd:hover{
    transform: scale(1.01);
    
}

.estudos h3{
    color: whitesmoke;
    font-size: 20px;
    padding: 15px 0;
}

.tabela{
    display: flex;
    margin-top: 7rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
.java,.bd,.html{
    position: relative;
    display: flex;
    overflow: hidden;
    flex: 1;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    max-width: 20rem;
    height: 10rem;
    border-radius: 15px 15px ;
}

.tabela-java,.tabela-bd,.tabela-html{
    display: flex;
    position: absolute;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: solid 2px rgba(255, 255, 255, 0.07);
    font-size: 14px;
    border-radius:15px 15px ;
    background: rgba(255, 255, 255, 0.07);
    transition: 0.5s ease-out;
    width: 400px;
    height: 100%;
    left: -1000px;
    visibility: hidden;
    overflow: hidden;
    
}

.java:hover .tabela-java,.html:hover .tabela-html,.bd:hover .tabela-bd{
    width: 100%;
    left: 0;
    visibility: visible;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.1);
}
.java:hover h3,.bd:hover h3,.html:hover h3{
    visibility: hidden;
}
.java:hover,.bd:hover,.html:hover{
    flex: 2;
    max-width: 25rem;
}


.estudos li{
    padding: 10px 0;
    color: white;
    transition: 0.5s all;

}

.estudos li:hover{
    transform: scale(1.05);
    
}

.projetos{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    transition: 1s;
    overflow: hidden;

}

.container{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.slide-projetos{
    position: relative;
    width: 80%;

}

.container-projetos{
    display: grid;
    gap: 30px;
    grid-auto-flow: column;
    align-items: center;
    width: 100%;
    height: 300px;
    overflow-x: scroll;
}
.container-projetos::-webkit-scrollbar{
    display: block;
    height: 4px;
    padding: 50px 0;
}
.container-projetos::-webkit-scrollbar-thumb{
    background: #CCCCCC;
    padding: 50px 0;
}


.projeto{
    height: 250px;
    width: 250px;
    background: #cccccc79;
    border: #CCCCCC 2px solid;
}


.btn-left,.btn-right{
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 20px;
}


footer{
    text-align: center;
    padding: 116px 0 64px 0;
    
}

.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
