
body {
    font-family: 'Montserrat' , sans-serif;
}

header {

    position: fixed;
    width: 100%;
    background: black ;
    padding: 30px 0;
    z-index: 999;
    

    
}


.cabecario{
    position: relative;
    z-index: 999;
    margin: 0 25px;
}

.cabecario img {

    display: inline;
    margin: 0 5px;
    z-index: 999;
}

.cabecario img:hover {
    transform: rotate(720deg);
    transition: 1.5s;
}


h1 {
    display: inline;
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    top: 15px;
    padding-left: 10px;
    color: white;
    
    
}


main{
    position: relative;
    padding: 40px 0;
    background: linear-gradient(rgb(64, 64, 64),black);
    top: 112px;
}

.meio{
    border-bottom: solid 1px rgb(217, 217, 217);
    padding: 0 80px 0 80px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;


}

.perfil {
    display: flex;
    position: relative;
    border: #CCCCCC solid 2px;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 400px;
    text-align: center;
    transition: 0.5s all ;
}
.vida{
    padding: 20px 50px 80px 10px;
    position: relative;
    display: inline-block;
    text-align: left;
    width: 60%;




}
.perfil .imagem-perfil{
    border-radius: 50%;
    max-width: 40%;
    margin: 20px 0;

}


.perfil .nome-perfil{
    font-size: 25px;
    color: white;
    margin: 20px 0;

}

.perfil .titulo-perfil{
    font-size: 15px;
    color: #CCCCCC;
    margin: 20px 0;
}
.perfil .lista-perfil{
   position: relative;
    width: 350px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}

.perfil li {
    list-style: none;
    text-decoration: none;
    margin: 0 20px;

}


.perfil:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px 0 rgba(208, 208, 208, 0.586);
}
.perfil li a{
    text-decoration: none;
    color: white;


}
.lista-perfil svg {
    transition: 0.5s all ;
}

.lista-perfil svg:hover{

    transform: scale(1.2);
}

.vida h2{
    font-size: 30px;
    font-weight: bold;
    margin: 15px 0;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 25px;
    color: white;
}

.vida p, .vida p a{
    margin: 15px 0;
    line-height: 2;
    font-size: 15px;
    color: #CCCCCC;

}

.vida p a{
    text-decoration: none;
    color: white;

}

.texto{
    margin: 0 40px;
}

.texto::first-letter{


    margin-left: 25px;
    font-size: 18px;



}


.sonho{
    display:flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: solid 1px rgb(217, 217, 217);
}

.sonho h2, .estudos h2{
    font-size: 30px;
    color:white;
    padding: 25px 0;
    
}

.tabela-itens {
    position: relative;
    border: 2px rgba(191, 191, 191, 0.363) solid;
    border-radius: 1cm ;
    background: rgba(191, 191, 191, 0.363);
    text-align: center;
    padding: 30px 0;
    margin: 60px 0;
    width: 400px;
    transition: 0.5s all ;
}

.tabela-itens:hover{
    transform: scale(1.01);
    box-shadow: 0 0 10px 0 rgba(208, 208, 208, 0.586);
}


.tabela-itens li{
    padding: 10px 15px;
    color: whitesmoke;
    transition: 1s all ;
}

.tabela-itens li:hover{
    
    transform: scale(1.01);
}



.estudos{
    margin: 70px 0 0 0;
    padding-bottom: 150px;
    text-align: center;
    display:block;
    border-bottom: solid 1px rgb(217, 217, 217);
    
}

.java,.bd,.html{
    display: inline-grid;
    margin: 0 40px;
    transition: 0.5s;
}

.html:hover{
    transform: scale(1.01);
    
}

.java:hover{
    transform: scale(1.01);
    
}

.bd:hover{
    transform: scale(1.01);
    
}

.estudos h3{
    color: whitesmoke;
    font-size: 20px;
    padding: 15px 0;
}

.tabela{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}
.java,.bd,.html{
    margin-top: 60px;
}

.tabela-java,.tabela-bd,.tabela-html{
    border: solid 2px rgba(255, 255, 255, 0.07);
    border-radius: 15px ;
    background: rgba(255, 255, 255, 0.07);
    padding: 10px 25px;
    margin: 0 20px;

    transition: 0.5s  all;
}

.tabela-java:hover,.tabela-html:hover,.tabela-bd:hover{
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.1);
}


.estudos li{
    padding: 10px 0;
    color: white;
    transition: 0.5s all;

}

.estudos li:hover{
    transform: scale(1.05);
    
}

footer{
    text-align: center;
    background: black;
    padding: 116px 0 64px 0;
    
}

.copyright{
    color: white;
    font-size: 13px;
    margin-top: 20px;
}
